*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# Add JavaScript files used in Lambda functions
!lambdas/**/*.js

# OS X
.DS_Store

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
